body {
  font-size: 16px;
  background-color: white;
}
body a:hover {
  text-decoration: none;
}

header.navbar {
  margin-bottom: 0px;
}
header.navbar > .container {
  padding-right: 100px;
}

nav.sidebar {
  margin-top: 40px;
}
nav.sidebar .nav li a {
  padding: 4px 20px;
}

.navbar-bottom {
  margin: 0;
}

.pgp-header {
  color: white;
  background-color: #258AD2;
  padding: 40px;
  margin-bottom: 20px;
}
.pgp-header p {
  color: #D5E9F7;
  font-size: 20px;
  font-weight: 200;
  margin-right: 300px;
}
