body {
  font-size: 16px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

body a:hover {
  text-decoration: none;
}

nav.sidebar {
  margin-top: 30px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
}

.control-group {
  padding-bottom: 6px;
}

.pgp-header {
  color: white;
  background-color: #258AD2;
  padding: 40px;
  margin-bottom: 20px;
}
.pgp-header p {
  color: #D5E9F7;
  font-size: 20px;
  font-weight: 200;
  margin-right: 300px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
